.container {
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 180px;
  background: green;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 5px 5px grey;
  
  
}

.card-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 20px;
  height: 600px;
  
  flex-wrap: wrap;
}

#email  {
  display: block;
  width: 100%;
  border: solid thin #cfcfcf;
  height: 30px;
  padding: 3px;  
  box-sizing: border-box;
  margin-bottom: 5px;
}

button {
  display: block;
  width: 100%;
  
  color: white;
  background: green;
  border: none;
  height: 30px;
}

.newsletter-box {
  color: grey;
  border: solid thin #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.newsletter-box h3 {
  margin-top: 0 px;  
}

#terms {
  position: relative;
  top: 2px;
  left: 2px;
}

.closex {
  position: absolute;
  top: 0px;
  right: 7px;
  cursor: pointer;
}

.question {
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}